footer {
  background: white;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 13px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to bottom, #66bfe0, #65c2e1, #65c5e1, #65c8e1, #65cbe1, #65cbe1, #65cbe1, #65cbe1, #65c8e1, #65c5e1, #65c2e1, #66bfe0); }
