@{
	Layout = "_Layout";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>@ViewData["Title"]</title>
	<link href="~/css/Header.css" rel="stylesheet" />
	<link href="~/css/Main.css" rel="stylesheet" />
	<link href="~/css/Footer.css" rel="stylesheet" />
</head>
<body>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://use.fontawesome.com/1c903a9a3d.js"></script>

	<div id="registry" class="main-block-card">
		<div>
			<div class="col-lg-12">
				<div class="row block-main-info">
					<div class="btn-block-main mb-3 col-lg-12">
						<!-- Левая секция кнопок -->
						<div class="btn-left-block">
							<div class="btns">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="@Url.Action("Index", "Route")">Главная</a></li>

										<li class="breadcrumb-item">
											<a href="@Url.Action("RouteRegistry", "Route")">Регистратура</a>
										</li>

										<li class="breadcrumb-item active" aria-current="page">Запись на прием</li>
									</ol>
								</nav>
							</div>
						</div>

						<!-- Правая секция кнопок -->
						<div class="btn-right-block">
							@*<button type="button" id="id-create-card" class="btn-item btn btn-default btn-create-card form-control-modal" v-on:click="">Завести карту</button>

							<button type="button" id="id-create-card" class="btn-item btn btn-default btn-create-card form-control-modal" v-on:click="">Создать запись</button>*@
						</div>
					</div>					
				</div>
			</div>
		</div>
		
		<!-- Секция создания записи. -->
		<div class="row">
			<div class="col-lg-12">
				<h1>Запись к врачу</h1>
			</div>
		</div>

		<div class="row">			
			<div class="container block-registry">
				<div class="item-set-registry">
					<label>Номер полиса</label>
					<input type="text" id="id-policy" class="form-control-sm control-set" placeholder="Например 7100 0000 0000 0000" />
				</div>
				&nbsp;
				<div class="item-set-registry">
					<label>Дата рождения</label>
					<input type="text" id="id-day" class="form-control-sm control-set-date" placeholder="День" />
				</div>
				&nbsp;
				<div class="item-set-registry">
					<label>&nbsp;</label>
					<input type="text" id="id-month" class="form-control-sm control-set-date" placeholder="Месяц" />
				</div>
				&nbsp;
				<div class="item-set-registry">
					<label>&nbsp;</label>
					<input type="text" id="id-year" class="form-control-sm control-set-date" placeholder="Год" />
				</div>
				&nbsp;
				<div class="item-set-registry">
					<label>&nbsp;</label>
					<button class="form-control-sm btn-add-registry btn-item btn btn-default btn-create-card form-control-modal" v-on:click="onSearchPatient">Создать запись</button>
				</div>
			</div>
		</div>

		<div class="row block-add-list mt-3">
			<div class="form-group create-list">
				<label for="#id-select-list-number" class="form-control-sm">Номер карты</label>
				<input disabled type="text" id="id-select-list-number" class="form-control-sm" v-bind:value="cardNumber"/>
			</div>
			&nbsp;
			<div class="form-group create-list">
				<label for="#id-select-date" class="form-control-sm">Дата приема</label>
				<select id="id-select-date" class="form-control-sm">
					<option v-for=""></option>
				</select>
			</div>
			&nbsp;
			<div class="form-group create-list">
				<label>&nbsp;</label>
				<button type="button" id="id-create-card" class="btn-item btn btn-default btn-create-card form-control-modal" v-on:click="">Сохранить</button>
			</div>
		</div>
	</div>

	<script src="~/js/Route.js"></script>
	<script src="~/js/Registry.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>