@{
	Layout = "_Layout";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>@ViewData["Title"]</title>
	<link href="~/css/Header.css" rel="stylesheet" />
	<link href="~/css/Main.css" rel="stylesheet" />
	<link href="~/css/Footer.css" rel="stylesheet" />
</head>
<body>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://use.fontawesome.com/1c903a9a3d.js"></script>

	<div id="main_mrp" class="main-block-card">
		<div>
			<div class="col-lg-12">
				<div class="row block-main-info">
					<div class="btn-block-main mb-3 col-lg-12">
						<!-- Левая секция кнопок -->
						<div class="btn-left-block">
							<div class="btns">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="@Url.Action("Index", "Route")">Главная</a></li>

										<li class="breadcrumb-item">
											<a href="@Url.Action("RouteMRP", "Route")">Планирование потребностей в материалах</a>
										</li>

										<li class="breadcrumb-item">
											<a href="@Url.Action("GetRequests", "Route")">Список заявок</a>
										</li>

										<li class="breadcrumb-item active" aria-current="page">Создание заявки</li>
									</ol>
								</nav>
							</div>
						</div>

						<!-- Правая секция кнопок -->
						<div class="btn-right-block">
							<button type="button" id="id-create-card" class="btn-item btn btn-default btn-create-card form-control-modal" v-on:click="">Отменить</button>

							<button type="button" id="id-create-card" class="btn-item btn btn-default btn-create-card form-control-modal" v-on:click="onCreateRequest">Сохранить заявку</button>
						</div>
					</div>

					<!-- Секция создания заявки. -->
					<div class="mt-3 column-1">
						<div class="row-1">
							<label for="#id-select-group">Группа</label>
							<select id="id-select-group" class="form-control-sm form-card" v-show="!visibleGroup" v-on:change="onChangeGroup">
								<option></option>
								<option v-for="el in aMaterialsGroups">{{el.material_group}}</option>
							</select>
							<input aria-hidden="true" type="text" class="form-control-sm" placeholder="Введите название группы" v-show="visibleGroup" />
							<div class="checkbox-date">
								<input type="checkbox" id="id-check-group" class="form-control-sm" v-on:click="visibleGroup=!visibleGroup"><span class="ml-1">Неизвестно</span>
							</div>

							<label for="#id-select-material">Материал</label>
							<select id="id-select-material" class="form-control-sm form-card" v-show="!visibleMaterial">
								<option v-for="el in aDistinctMaterials">{{el}}</option>
							</select>
							<input aria-hidden="true" type="text" class="form-control-sm" placeholder="Введите название материала" v-show="visibleMaterial" />
							<div class="checkbox-date">
								<input type="checkbox" id="id-check-material" class="form-control-sm" v-on:click="visibleMaterial=!visibleMaterial"><span class="ml-1">Неизвестно</span>
							</div>
							<button type="button" id="id-create-card" class="btn-item btn btn-default btn-sm btn-create-card form-control-modal mb-3" v-on:click="onAddMaterialRequest">Добавить материал в заявку</button>

							<label for="#id-select-count">Количество материала</label>
							<input type="number" id="id-select-count" class="form-control-sm">

							<label for="#id-select-measure">Ед.Изм.</label>
							<select id="id-select-measure" class="form-control-sm form-card" v-show="!visibleMeasure">
								<option v-for="el in aMeasures">{{el.measure}}</option>
							</select>
							<input aria-hidden="true" type="text" class="form-control-sm" placeholder="Введите название ед.изм." v-show="visibleMeasure" />
							<div class="checkbox-date">
								<input type="checkbox" id="id-check-werehouse-num" class="form-control-sm" v-on:click="visibleMeasure=!visibleMeasure"><span class="ml-1">Неизвестно</span>
							</div>

							<label for="#id-select-werehouse">Номер склада</label>
							<select id="id-select-werehouse" class="form-control-sm form-card" v-show="!werehouseNum">
								<option v-for="el in aWerehousesNames">{{el.werehouse_number}}</option>
							</select>
							<input aria-hidden="true" type="text" class="form-control-sm" placeholder="Введите название материала" v-show="werehouseNum" />
							<div class="checkbox-date">
								<input type="checkbox" id="id-check-werehouse-num" class="form-control-sm" v-on:click="werehouseNum=!werehouseNum"><span class="ml-1">Неизвестно</span>
							</div>
						</div>
					</div>

					<div class="mt-3 column-2">
						<div class="row-2">
							<h3>Материалы заявки</h3>
							<ul class="list-group">
								<li v-for="el in aAddedMaterials" class="list-group-item">
									<span>{{el}}</span>
									<div v-on:click="onDeleteMaterialRequest">
										<div><span aria-hidden="true">&times;</span></div>

										<div><span class="close"></span></div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Секция модального окна об успешном создании заявки. -->
		<div class="modal fade" id="success-create-request" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
			<div id="successModalLabel" class="modal-dialog" role="document">
				<div class="modal-content" v-for="">
					<div class="modal-header">
						<h5 class="modal-title" id="successModalLabel">Создание заявки</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div class="modal-body">
						<span>Заявка успешно создана.</span>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn-item btn-modal btn btn-default" data-dismiss="modal">Закрыть</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script src="~/js/MRP.js"></script>
	<script src="~/js/Route.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>