@{
	Layout = "_Layout";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>@ViewData["Title"]</title>
	<link href="~/css/Header.css" rel="stylesheet" />
	<link href="~/css/Main.css" rel="stylesheet" />
	<link href="~/css/Footer.css" rel="stylesheet" />
</head>
<body>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://use.fontawesome.com/1c903a9a3d.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.2/FileSaver.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.2/xlsx.min.js"></script>

	<div id="main_mrp">
		<!-- Главная секция кнопок -->
		<div class="btn-block-main mb-3">
			<!-- Левая секция кнопок -->
			<div class="btn-left-block">
				<div class="btns">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="@Url.Action("Index", "Route")">Главная</a></li>

							<li class="breadcrumb-item active" aria-current="page">
								<a href="@Url.Action("RouteMRP", "Route")">Планирование потребностей в материалах</a>
							</li>

							<li class="breadcrumb-item active" aria-current="page">Номенклатура</li>
						</ol>
					</nav>
				</div>
			</div>

			<!-- Правая секция кнопок -->
			<div class="btn-right-block">
				<button type="button" class="btn-item btn btn-default btn-create-req" v-on:click="onExportExcelMaterials">Выгрузить в Excel</button>
			</div>
		</div>

		<!-- Секция с таблицей со списком материалов. -->
		<div class="mr-2">
			<h3>Список материалов на складах</h3>
			<input class="form-control input-search mb-1" id="id-search-request" type="text" v-on:keyup.enter="onSearchRequest" placeholder="Поиск по названию или группе">
			<table id="id-material-list-table" class="table table-bordered">
				<thead>
					<tr>
						<th class="text-center" scope="col">
							<button class="btn btn-link">
								Артикул
							</button>
						</th>

						<th class="text-center" scope="col">
							<button class="btn btn-link" value="material" v-on:click="sortedMaterial">
								Материал
							</button>
						</th>

						<th class="text-center" scope="col">
							<button class="btn btn-link" value="group" v-on:click="sortedMaterial">
								Группа материалов
							</button>
						</th>

						<th class="text-center" scope="col">
							<button class="btn btn-link">
								Ед.Изм.
							</button>
						</th>

						<th class="text-center" scope="col">
							<button class="btn btn-link">
								Количество
							</button>
						</th>

						<th class="text-center" scope="col">
							<button class="btn btn-link">
								№ склада
							</button>
						</th>

						<th class="text-center" scope="col">
							<button class="btn btn-link">
								Цена
							</button>
						</th>

						<th class="text-center" scope="col">
							<button class="btn btn-link">
								Сумма
							</button>
						</th>

						<th class="text-center" scope="col">
							<button class="btn btn-link">
								Поставщик
							</button>
						</th>

						<th class="text-center" scope="col">
							<button class="btn btn-link">
								%
							</button>
						</th>

						<th class="text-center" scope="col">
							<button class="btn btn-link">
								НДС
							</button>
						</th>
					</tr>
				</thead>

				<tbody>
					<tr class="tbl-item tbl-row-click" v-for="el in aMaterials">
						<td class="text-center req-id">
							<span>{{el.id}}</span>
						</td>

						<td class="text-center">
							<span>{{el.vendorCode}}</span>
						</td>

						<td class="text-center">
							<span>{{el.material}}</span>
						</td>

						<td class="text-center">
							<span>{{el.materialGroup}}</span>
						</td>

						<td class="text-center">
							<span>{{el.measure}}</span>
						</td>

						<td class="text-center">
							<span>{{el.count}}</span>
						</td>

						<td class="text-center">
							<span>{{el.werehouseNumber}}</span>
						</td>

						<td class="text-center">
							<span>{{el.price}}</span>
						</td>

						<td class="text-center">
							<span>{{el.totalSum}}</span>
						</td>

						<td class="text-center">
							<span>{{el.providerName}}</span>
						</td>

						<td class="text-center">
							<span>{{el.percentage}}%</span>
						</td>

						<td class="text-center">
							<span>{{el.vat}}%</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>		
	</div>

	<script src="~/js/MRP.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>