@{
	Layout = "_Layout";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>@ViewData["Title"]</title>
	<link href="~/css/Header.css" rel="stylesheet" />
	<link href="~/css/Main.css" rel="stylesheet" />
	<link href="~/css/Footer.css" rel="stylesheet" />
</head>
<body>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://use.fontawesome.com/1c903a9a3d.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.2/FileSaver.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.2/xlsx.min.js"></script>

	<div id="main_mrp">
		<!-- Главная секция кнопок -->
		<div class="btn-block-main mb-3">
			<!-- Левая секция кнопок -->
			<div class="btn-left-block">
				<div class="btns">

				</div>
			</div>

			<!-- Правая секция кнопок -->
			<div class="btn-right-block">
				<button type="button" class="btn-item btn btn-default btn-create-req" data-toggle="modal" data-target="#create-card-modal">Выгрузить в Excel</button>

				<button type="button" class="btn-item btn btn-default btn-create-req" data-toggle="modal" data-target="#create-request-modal">Создать новую заявку</button>
			</div>
		</div>

		<!-- Секция с таблицей со списком заявок. -->
		<div class="mr-2">
			<h3>Список заявок</h3>
			<input class="form-control input-search mb-1" id="id-search-request" type="text" v-on:keyup.enter="onSearchRequest" placeholder="Поиск по номеру или статусу заявки">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th class="text-center" scope="col">
							<button class="btn btn-link" value="card_number" v-on:click="sortedRequeest">
								№ заявки
							</button>
						</th>

						<th class="text-center" scope="col">
							<button class="btn btn-link">
								Количество
							</button>
						</th>

						<th class="text-center" scope="col">
							<button class="btn btn-link">
								Ед.Изм.
							</button>
						</th>

						<th class="text-center" scope="col">
							<button class="btn btn-link" value="req_status" v-on:click="sortedRequeest">
								Статус
							</button>
						</th>
					</tr>
				</thead>

				<tbody>
					<tr class="tbl-item tbl-row-click" v-for="el in aRequests">
						<td class="text-center">
							<span>{{el.number}}</span>
						</td>

						<td class="text-center">
							<span>{{el.count}}</span>
						</td>

						<td class="text-center">
							<span>{{el.measure}}</span>
						</td>

						<td class="text-center">
							<span>{{el.status}}</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- Секция модального окна создания новой заявки на потребности в материалах. -->
		<div class="modal fade" id="create-request-modal" tabindex="-1" role="dialog" aria-labelledby="requestModalLabel" aria-hidden="true">
			<div id="signin-modal" class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="requestModalLabel">Создание новой заявки<br /> на потребность в материалах</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div class="modal-body">
						<div class="form-group">
							<label for="id-select-material">Материал</label>
							<select id="id-select-material" class="form-control">
								<option></option>
								<option v-for="el in aDistinctMaterials">{{el.material}}</option>
							</select>
							<input type="checkbox" /> Такого материала еще нет
						</div>

						<div class="form-group">
							<label for="id-select-group">Группа</label>
							<select id="id-select-group" class="form-control">
								<option></option>
								<option v-for="el in aMaterialsGroups">{{el.material_group}}</option>
							</select>
							<input type="checkbox" /> Не знаю к какой группе относится материал
						</div>

						<div class="form-group">
							<label for="id-select-count">Количество материалов</label>
							<input id="id-select-count" type="number" class="form-control" />
						</div>

						<!-- Не обязательно для заполнения. -->
						<div class="form-group">
							<label for="id-select-measure">Ед.Изм.</label>
							<select id="id-select-measure" class="form-control">
								<option></option>
								<option v-for="el in aMeasures">{{el.measure}}</option>
							</select>
							<input type="checkbox" /> Не знаю ед.изм. для этого материала
						</div>

						<!-- Не обязательно для заполнения. -->
						<div class="form-group">
							<label for="id-select-werehouse">Номер склада</label>
							<select id="id-select-werehouse" class="form-control">
								<option></option>
								<option v-for="el in aWerehousesNames">{{el.werehouse_number}}</option>
							</select>
							<input type="checkbox" /> Не знаю номер склада
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn-item btn btn-default" data-dismiss="modal" v-on:click="onCreateRequest">Создать заявку</button>
						<button type="button" class="btn-item btn btn-default" data-dismiss="modal">Закрыть</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="~/js/MRP.js"></script>
	<script src="~/js/Route.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>