@{
	Layout = "_Layout";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>@ViewData["Title"]</title>
	<link href="~/css/Header.css" rel="stylesheet" />
	<link href="~/css/Main.css" rel="stylesheet" />
	<link href="~/css/Footer.css" rel="stylesheet" />
</head>

<body>
	<div id="main">
		<div class="row">
			<div class="container">
				<!-- Главная секция кнопок -->
				<div class="btn-block-main">
					<!-- Левая секция кнопок -->
					<div class="btn-left-block">
						<div class="btns">
							<button type="button" class="btn-item left-btn btn btn-default">Bionessori - это...</button>
							<button type="button" class="btn-item left-btn btn btn-default">FAQ</button>
							<button type="button" class="btn-item left-btn btn btn-default" data-toggle="modal" data-target="#id-feedback-modal">Обратная связь</button>
						</div>
					</div>

					<!-- Секция описания ERP-системы. -->
					<div class="container context">
						<h3 class="text-center">Назначение ERP</h3>
						<p>
							Главное назначение данной системы – это управление ресурсами и максимальная автоматизация всех процессов из расчета себестоимости предоставляемых услуг. В медицинской сфере сюда можно отнести: функции администрирования, учет взаиморасчетов, ведение медицинских карт и т.д.
						</p>

						<p>
							Медицинская система ERP создает интегрированную онлайн базу данных, в которую поступают сведения в режиме реального времени. При этом снижаются затраты на автоматизацию процессов, т.к. система ведет учет пациентов, запасов препаратов, их закупку, отслеживает количество койко-мест и многое другое.
						</p>

						<p>
							ERP-система Bionessori направлена на автоматизацию бизнес-процессов работы стационаров и поликлиник. Автоматизирует ведение различных модулей, обеспечивает хранение всех данных о пациентах в единной базе данных.
						</p>

						<p>
							Данные всех пациентов, их история болезни, выписанные лекарства, данные о проведенных ранее операциях, назначенных рецептах ведутся в электронном виде. На каждого пациента заведена электронная карта, что в случаях обращения к врачу, позволяет врачам не тратить много времени на поиск данных о пациенте, все что им нужно, это найти пациента в единной базе данных.
						</p>

						<p>
							Доступ к электронным картам имеют как сами пациенты, так и лечащие врачи, что делает их взаимодействие более удобным и оперативным.
						</p>
					</div>

					<!-- Правая секция кнопок -->
					<div class="btn-right-block">
						<button type="button" id="id-card" class="btn-item btn btn-default" value="card" v-on:click="onRouteMatched">Список карт пациентов</button><br />

						<button type="button" id="id-complex" class="btn-item btn btn-default">Перейти к направлениям</button><br />

						<button type="button" id="id-diagnostic" class="btn-item btn btn-default">Диагностика и визуализация</button><br />

						<button type="button" id="id-mrp" class="btn-item btn btn-default" value="mrp" v-on:click="onRouteMatched">Ведение MRP</button><br />

						<button type="button" id="id-manage-resource" class="btn-item btn btn-default">Управление запасами</button><br />

						<button type="button" id="id-manage-personal" class="btn-item btn btn-default">Управление персоналом</button><br />

						<button type="button" id="id-manage-shop" class="btn-item btn btn-default">Управление закупками</button><br />

						<button type="button" id="id-finance" class="btn-item btn btn-default">Финансовый учет</button><br />

						<button type="button" id="id-anketa" class="btn-item btn btn-default">Анкетирование</button><br />

						<button type="button" id="id-nomenclature" class="btn-item btn btn-default">Номенклатура</button><br />

						<button type="button" id="id-quick-help" class="btn-item btn btn-default">Скорая помощь</button><br />

						<button type="button" id="id-eating-service" class="btn-item btn btn-default">Сервис питания</button><br />

						<button type="button" id="id-indicator-service" class="btn-item btn btn-default">Сервис оповещений</button><br />

						<button type="button" id="id-statistic" class="btn-item btn btn-default">Отзывы и статистика</button>

						<button type="button" id="id-registry" class="btn-item btn btn-default" value="registry" v-on:click="onRouteMatched">Регистратура</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Секция модального окна обратной связи -->
		<div class="modal fade" id="id-feedback-modal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true">
			<div id="id-feedback-modall" class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="feedbackModalLabel">Обратная связь</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div class="modal-body">
						<div class="form-group">
							<label for="#id-feedback">Сообщение:</label><br />
							<textarea type="text" id="id-feedback" class="form-control"></textarea>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn-item btn btn-default" data-dismiss="modal" v-on:click="">Отправить</button>
						<button type="button" class="btn-item btn btn-default" data-dismiss="modal">Закрыть</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="~/js/Route.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>