@{
	Layout = "_Layout";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>@ViewData["Title"]</title>
	<link href="~/css/Header.css" rel="stylesheet" />
	<link href="~/css/Main.css" rel="stylesheet" />
	<link href="~/css/Footer.css" rel="stylesheet" />
</head>

<body>
	<div id="main">
		<div class="row">
			<div class="container">
				<!-- Главная секция кнопок -->
				<div class="btn-block-main">
					<!-- Левая секция кнопок -->
					<div class="btn-left-block">
						<div class="btns">
							<button type="button" class="btn-item left-btn btn btn-default">Bionessori - это...</button>

							<button type="button" class="btn-item left-btn btn btn-default">FAQ</button>

							<button type="button" class="btn-item left-btn btn btn-default" data-toggle="modal" data-target="#id-feedback-modal">Обратная связь</button>

							<button type="button" id="id-statistic" class="btn-item btn btn-default">Отзывы и статистика</button>

							<button type="button" id="id-anketa" class="btn-item btn btn-default">Анкетирование</button>

							<button type="button" id="id-indicator-service" class="btn-item btn btn-default">Сервис оповещений</button>
						</div>
					</div>

					<!-- Секция описания ERP-системы. -->
					<div class="container context">
						<h3 class="text-center title">НАЗНАЧЕНИЕ ERP-СИСТЕМЫ</h3>
						<p>
							Главное назначение данной системы – это управление ресурсами и максимальная автоматизация всех процессов из расчета себестоимости предоставляемых услуг. В медицинской сфере сюда можно отнести: функции администрирования, учет взаиморасчетов, ведение медицинских карт и т.д.
						</p>

						<p>
							ERP-система Bionessori создает интегрированную онлайн базу данных, в которую поступают сведения в режиме реального времени. При этом снижаются затраты на автоматизацию процессов, т.к. система ведет учет пациентов, запасов препаратов, их закупку, отслеживает количество койко-мест и многое другое.
						</p>

						<p>
							ERP-система Bionessori направлена на автоматизацию бизнес-процессов работы стационаров и поликлиник. Автоматизирует ведение различных модулей, обеспечивает хранение всех данных о пациентах в единной базе данных.
						</p>

						<p>
							Данные всех пациентов, их история болезни, выписанные лекарства, данные о проведенных ранее операциях, назначенных рецептах ведутся в электронном виде. На каждого пациента заведена электронная карта, что в случаях обращения к врачу, позволяет врачам не тратить много времени на поиск данных о пациенте, все что им нужно, это найти пациента в единной базе данных.
						</p>

						<p>
							Доступ к электронным картам имеют как сами пациенты, так и лечащие врачи, что делает их взаимодействие более удобным и оперативным.
						</p>
					</div>

					<!-- Правая секция кнопок -->
					<div class="btn-right-block">
						<button type="button" id="id-card" class="btn-item btn btn-default" value="card" v-on:click="onRouteMatched">Список карт пациентов</button><br />

						@*<button type="button" id="id-complex" class="btn-item btn btn-default">Перейти к направлениям</button><br />*@

						<button type="button" id="id-diagnostic" class="btn-item btn btn-default">Диагностика и визуализация</button><br />

						<button type="button" id="id-mrp" class="btn-item btn btn-default" value="mrp" v-on:click="onRouteMatched">Ведение MRP</button><br />

						@*<button type="button" id="id-manage-resource" class="btn-item btn btn-default">Управление запасами</button><br />*@

						<button type="button" id="id-manage-personal" class="btn-item btn btn-default">Управление персоналом</button><br />

						<button type="button" id="id-manage-shop" class="btn-item btn btn-default">Управление закупками</button><br />

						<button type="button" id="id-finance" class="btn-item btn btn-default">Финансовый учет</button><br />						
						<button type="button" id="id-nomenclature" class="btn-item btn btn-default">Номенклатура</button><br />

						<button type="button" id="id-quick-help" class="btn-item btn btn-default">Скорая помощь</button><br />

						<button type="button" id="id-eating-service" class="btn-item btn btn-default">Сервис питания</button><br />
						
						<button type="button" id="id-registry" class="btn-item btn btn-default" value="registry" v-on:click="onRouteMatched">Регистратура</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Секция описания модулей системы. -->
		<div class="row">
			<div class="col-lg-12">
				<h3 class="text-center title">СТРУКТУРА МЕДИЦИНСКОГО УЧРЕЖДЕНИЯ, РАСПИСАНИЕ И РЕГИСТРАТУРА</h3>
				<p>
					Система Bionessori поддерживает структуру медицинского учреждения любой сложности, в которую могут входить различные подразделения, медицинские отделения, службы, лаборатории, склады и т.п. Все данные и справочники системы, в том числе сотрудники и штатное расписание, товары и материалы, услуги и работы, доходы и расходы, документы, контакты и пр., связаны со структурными подразделениями медицинского учреждения. Это позволяет контролировать работу каждого подразделения в отдельности и предприятия в целом.

					Система позволяет вести штатное расписание работы сотрудников, почасовой график работы специалистов по кабинетам на любой день, график загрузки палат и помещений (для стационаров) и табель учета рабочего времени. Удобная форма графика приемов показывает приемы на любой день и позволяет быстро записывать пациентов на прием с учетом расписания работы врачей и занятого или зарезервированного времени. Могут учитываться больничные, отпуска, командировочные. Запись на прием можно вести по кабинетам, помещениям или по специалистам.
				</p>

				<h3 class="text-center title">ЭЛЕКТРОННЫЕ МЕДИЦИНСКИЕ КАРТЫ</h3>
				<p>
					Учет амбулаторных карт (для амбулаторий) или историй болезни (для стационаров) ведется на основе единого списка пациентов. Обеспечиваются комплексные поиски по широкому набору критериев в любом их сочетании, включая поиск должников и кредиторов. Карты пациентов можно группировать и классифицировать по легко настраиваемой системе классификации. Группы пациентов можно распределять по подразделениям медицинского учреждения и по направлениям работы.

					Электронная карта пациента содержит полную информацию о пациенте, включая все его приемы, курсы лечения, оплату, записи в медицинской карте, результаты лабораторных исследований, рентгеновские снимки, условия обслуживания по договору и любую другую информацию, связанную с пациентом.

					Система позволяет при необходимости создавать дополнительные формы данных, состав которых гибко настраивается, и прикреплять эти формы к карте пациента. Полное содержание карты пациента можно выгружать по внешние файлы для их передачи в другие информационные системы.

					При наличии специального дополнительного модуля данные, выгруженные во внешний файл, можно читать на любом компьютере, что делает возможным передачу этих данных на руки пациентам для ведения личного медицинского архива (ваше медицинское учреждение сможет предоставлять с помощью нашей системы такой дополнительный сервис своим пациентам).
				</p>

				<h3 class="text-center title">УЧЕТ УСЛУГ И СОДЕРЖАНИЯ ЛЕЧЕНИЯ</h3>
				<p>
					ERP-система Bionessori обеспечивает комплексный учет услуг и полного содержания лечения с использованием стандартов лечения и нормативов расхода материалов и медикаментов. Система поддерживает планы лечения и учет их выполнения, а также обеспечивает взаимосвязанный учет поставленных диагнозов и оказанных услуг. Это позволяет получать статистику об объеме оказанных услуг по диагнозам и нозологиям. Аналогичным образом обеспечивается и взаимосвязанный учет услуг и расходуемых материалов и медикаментов. Это, в свою очередь, позволяет получать общую статистику об объеме расхода материалов по услугам.

					Важной особенностью системы является возможность контроля за соблюдением стандартов лечения (сравнение состава и количества услуг по стандарту лечения и фактически выполненных услуг).

					После регистрации услуг осуществляется автоматический расчет стоимости лечения в соответствии с выбранным тарифом и выписка счетов для пациентов, оплачивающих организаций и страховых компаний. Учитываются скидки и наценки, накопительная система скидок, сроки действия услуг, различные программы обслуживания (ограничения по составу оказываемых услуг) и пр.
				</p>

				<h3 class="text-center title">УЧЕТ ОПЛАТЫ, ДОХОДОВ И РАСХОДОВ</h3>
				<p>
					Bionessori обеспечивает учет начислений и платежей в любой форме и любой валюте. Система позволяет регистрировать любые денежные операции и контролировать суммы начислений и платежей по каждому пациенту, организации-контрагенту и по медицинскому предприятию в целом.

					Модуль финансового учета обеспечивает не только контроль начислений и платежей за выполненное лечение (доходная часть бюджета), но и позволяет учитывать расходную часть бюджета предприятия и вести взаиморасчеты с контрагентами, включая выпуск и учет всех необходимых финансовых документов (счета, накладные, счета-фактуры и т.п.). Система поддерживает полную иерархическую модель бюджета и статей доходов и расходов медицинского предприятия.
				</p>

				<h3 class="text-center title">ЛАБОРАТОРИЯ</h3>
				<p>
					Лабораторный модуль медицинской информационной ERP-системы Bionessori автоматизирует работу лаборатории в составе локальной сети медицинского учреждения или лаборатории, находящейся на удалении. Система обеспечивает гибкую настройку и регистрацию результатов лабораторных исследований любого состава по настраиваемым шаблонным формам.

					В системе реализована оригинальная технология автоматического импорта данных из внешних источников, например, когда результаты лабораторных исследований выполняются внешними специализированными организациями и поставляются в виде готовых файлов, выгруженных из внешних систем. Поддерживается импорт данных из файлов формата PDF и MS Excel.

					В случае, когда лаборатория территориально удалена, предусмотрен автоматический режим обменов данными, позволяющий передавать данные из удаленных лабораторий в основную базу данных.
				</p>

				<h3 class="text-center title">КОМПЛЕКСНЫЕ ОБСЛЕДОВАНИЯ</h3>
				<p>
					Специализированный модуль для проведения комплексных обследований ERP-системы Bionessori позволяет организовать совместную координированную работу групп профильных специалистов при проведении комплексных обследований групп пациентов (профосмотры, диспансеризация, обследования спортивных команд, и т.п.). Обеспечивается гибкая настройка состава комплексного обследования и шаблонных записей профильных специалистов, а также автоматическая подготовка отчетов о комплексных обследованиях по настраиваемым шаблонам.
				</p>

				<h3 class="text-center title">СТАЦИОНАР И КОЕЧНЫЙ ФОНД</h3>
				<p>
					Медицинская информационная ERP-система Bionessori обеспечивает учет палат, помещений и коечного фонда для стационарных медицинских учреждений. Состояние коечного фонда и загрузка палат отображается на поэтажных планах с использованием векторной графики. Ведется учет бронирования, размещения, проживания и выписки, а также статистика загрузки палат и помещений за любой период времени по отделениям и в целом по предприятию. Рассчитывается эффективность использования палат и помещений.
				</p>

				<h3 class="text-center title">КОНТРОЛЬ СОБЛЮДЕНИЯ СТАНДАРТОВ</h3>
				<p>
					Модуль контроля соблюдения стандартов позволяет контролировать выполнения стандартов и регламентов работ. Под стандартом работы понимается типовой перечень услуг, работ и материалов, которые необходимо выполнить по тому или иному диагнозу (заболеванию, стандарту). После учета фактически выполненных работ система позволяет сравнивать плановые (стандартные) и фактически выполненные работы и подготовить детальные и сводные отчеты по стандартам, специалистам, подразделениям и предприятию в целом. Система также позволяет оценивать финансовые потери от несоблюдения стандартов лечения.
				</p>

				<h3 class="text-center title">РАСЧЕТ ЗАРПЛАТЫ</h3>
				<p>
					Модуль расчета зарплаты медицинской информационной ERP-системы Bionessori обеспечивает автоматический расчет почасовой и сдельной оплаты труда по различным алгоритмам и формирование сводной зарплатной ведомости за любой период времени по подразделениям и в целом по медицинскому предприятию.
				</p>

				<h3 class="text-center title">СКЛАД И УЧЕТ МАТЕРИАЛОВ</h3>
				<p>
					Модуль складского и материального учета ERP-системы Bionessori позволяет автоматизировать учет медикаментов и расходных материалов на складе, а также проводить полный учет и анализ движения товаров и материалов (приход, выдачу, расход и перемещение), контролировать остатки и управлять запасами на складе (складах), по рабочим местам, специалистам, кабинетам, палатам, подразделениям и медицинскому предприятию в целом.

					Важной особенностью системы является не только автоматизированный учет движения товаров и материалов на складе, но и учет выдачи на места, а также учет расхода материалов (списания) на производственных участках, рабочих местах и конкретными специалистами при осуществлении лечения или продажах (самостоятельно или в составе услуги). Поддерживаются технологии штрихового кодирования.
				</p>

				<h3 class="text-center title">АПТЕКА И ТОЧКИ ПРОДАЖ</h3>
				<p>
					ERP-система Bionessori позволяет автоматизировать работу так называемых "точек продаж" (аптека, киоски и т.п.), в которых осуществляется продажа медикаментов и товаров медицинского назначения покупателям. Точки продаж связаны с модулем складского и материального учета. При осуществлении продажи осуществляется автоматическое списание единиц материального учета со склада.

					Предусмотрен специальный графический интерфейс (рабочее место продавца) для удобного и быстрого оформления счетов и продажи товаров с использованием контактных экранов (Touch-screen). Поддерживается работа фискального регистратора.
				</p>

				<h3 class="text-center title">CALL-ЦЕНТР И УПРАВЛЕНИЕ МАРКЕТИНГОМ</h3>
				<p>
					ERP-система Bionessori автоматизирует работу маркетингового отдела и call-центра медицинского учреждения, позволяя реализовывать различные маркетинговые стратегии, направленные на привлечение клиентов.

					Система обеспечивает планирование и учет работ, связанных с проведением маркетинговых компаний и проектов: планирование маркетинговых мероприятий и их распределение между ответственными исполнителями, формирование списков обзвонов и их выполнение, учет входящих и исходящих звонков, учет дел и поручений, анкетирование клиентов, учет затрат, связанных с проведением маркетинговых мероприятий, учет затрат на рекламу и оценка ее эффективности, консолидация результатов маркетинговой активности.
				</p>

				<h3 class="text-center title">СКОРАЯ ПОМОЩЬ</h3>
				<p>
					Модуль скорой помощи поддерживает работу бригад скорой и неотложной медицинской помощь и учет всей информации, связанной с приемом,  регистрацией и контролем прохождения вызова и выезда бригады на место. Система позволяет учитывать работу выездной бригады, в том числе на месте с последующей автоматической передачей информации и консолидацией данных в центральной базе.
				</p>

				<h3 class="text-center title">УПРАВЛЕНИЕ ПОМЕЩЕНИЯМИ</h3>
				<p>
					Система также позволяет вести учет находящихся в кабинетах, палатах и помещениях расходных материалов и контролировать состояние помещений и оборудования. Например, можно контролировать наличие и остатки расходных материалов в палатах и помещениях (постельные принадлежности, аксессуары гигиены, медицинские препараты, продукты и т.п.), и также регистрировать неисправности сантехнического оборудования и оперативно информировать об этом технические службы.
				</p>

				<h3 class="text-center title">СЛУЖБА ПИТАНИЯ</h3>
				<p>
					Модуль службы питания ERP-системы Bionessori позволяет автоматизировать работу служб питания медицинских учреждений. Модуль осуществляет управление номенклатурой блюд и услуг, учет заказов по помещениям (палатам) и пациентам, учет продуктов и состояния склада и готовит отчеты о работе службы питания.
				</p>

				<h3 class="text-center title">ОБРАБОТКА ИЗОБРАЖЕНИЙ</h3>
				<p>
					ERP-система Bionessori обеспечивает базовый набор функций по хранению и обработке изображений, связанных с медицинской деятельностью: учет рентгеновских снимков, фотографий и сканированных изображений, привязка изображений к медицинской карте, их просмотр и обработка.
				</p>

				<h3 class="text-center title">ДОКУМЕНТЫ</h3>
				<p>
					ERP-система Bionessori позволяет хранить не только записи в медицинской карте и истории болезни, но и любые другие документы. Номенклатура документов (структура папок) гибко настраивается пользователем. Для производства и хранения текстовых документов в системе используется расширенный формат RTF, который позволяет использовать документы достаточно сложной структуры, например, содержащие таблицы, рисунки, сканированные изображения, выделение цветом и пр..

					Кроме этого, есть возможность хранить прикрепленные файлы любого формата (текстовые документы MS Word, электронные таблицы MS Excel, файлы электронной почты, рисунки, сканированные изображения и т.п.). Эти документы можно открывать в соответствующем их типу внешнем редакторе напрямую из системы хранения документов Bionessori.

					Специальный механизм шаблонов позволяет создавать документы по шаблонам с автоматическим заполнением шаблонных полей из базы данных. Таким образом можно гибко настраивать и готовить формы договоров, счетов, актов, накладных и т.п.
				</p>

				<h3 class="text-center title">МЕДИЦИНСКАЯ СТАТИСТИКА И АНАЛИЗ</h3>
				<p>
					Медицинская информационная система Bionessori обладает мощной и удобной системой подготовки практически любых отчетов о работе медицинского учреждения. Полный анализ работы клиники по всем основным показателям: сводные и детальные отчеты по приемам, диагнозам, услугам, товарам, материалам, оплате, зарплате и рекламе, включая анализ эффективности работы медицинского предприятия по специальной методике.

					Система также позволяет создавать неограниченное количество параметрических отчетов на основе специального механизма гибко настраиваемых параметров и форм данных.
				</p>
			</div>
		</div>
	</div>

	<!-- Секция модального окна обратной связи -->
	<div class="modal fade" id="id-feedback-modal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true">
		<div id="id-feedback-modall" class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="feedbackModalLabel">Обратная связь</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<div class="form-group">
						<label for="#id-feedback">Сообщение:</label><br />
						<textarea type="text" id="id-feedback" class="form-control"></textarea>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn-item btn btn-default" data-dismiss="modal" v-on:click="">Отправить</button>
					<button type="button" class="btn-item btn btn-default" data-dismiss="modal">Закрыть</button>
				</div>
			</div>
		</div>
	</div>

	<script src="~/js/Route.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>