@{
	Layout = "_Layout";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>@ViewData["Title"]</title>
	<link href="~/css/Header.css" rel="stylesheet" />
	<link href="~/css/Main.css" rel="stylesheet" />
	<link href="~/css/Footer.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://use.fontawesome.com/1c903a9a3d.js"></script>
</head>
<body>
	<div id="list_card">
		<!-- Секция таблицы со списком карт пациентов -->
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="text-center" scope="col">ФИО</th>
					<th class="text-center" scope="col">Дата рождения</th>
					<th class="text-center" scope="col">Адрес</th>
					<th class="text-center" scope="col">Телефон</th>
					<th class="text-center" scope="col">Полис</th>
					<th class="text-center" scope="col">СНИЛС</th>
					<th class="text-center" scope="col">Дата и время назначаемых<br /> процедур и записей</th>
					<th class="text-center" scope="col">Прописанные лекарства</th>
					<th class="text-center" scope="col">Диагноз</th>
					<th class="text-center" scope="col">Рецепты и рекомендации</th>
					<th class="text-center" scope="col">Лечащий врач</th>
					<th class="text-center" scope="col"></th>
					<th class="text-center" scope="col"></th>
				</tr>
			</thead>

			<tbody>
				<tr class="tbl-item" v-for="el in aCards">
					<td class="text-center">
						<span>{{el.fullName}}</span>
					</td>

					<td class="text-center">
						<span>{{el.dateOfBirth}}</span>
					</td>

					<td class="text-center">
						<span class="departure">{{el.address}}</span>
					</td>

					<td class="text-center">
						<span class="arrival">{{el.number}}</span>
					</td>

					<td class="text-center">
						<span>{{el.policy}}</span>
					</td>

					<td class="text-center">
						<span>{{el.snails}}</span>
					</td>

					<td class="text-center">
						<span>{{el.timeProcRecommend}}</span>
					</td>

					<td class="text-center">
						<span>{{el.prescriptionDrugs}}</span>
					</td>

					<td class="text-center">
						<span>{{el.diagnosis}}</span>
					</td>

					<td class="text-center">
						<span>{{el.recipesRecommend}}</span>
					</td>

					<td class="text-center">
						<span>{{el.doctor}}</span>
					</td>

					<td class="text-center state">
						<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#edit-card-modal" v-on:click="">
							<i class="fa fa-pencil" aria-hidden="true"></i>
						</button>
					</td>

					<td class="text-center state">
						<button type="button" class="btn btn-default btn-sm" v-on:click="">
							<i class="fa fa-trash-o" aria-hidden="true"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<!-- Секция модального окна редактирования карты пациента. -->
	<div class="modal fade" id="edit-card-modal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="editModalLabel">Редактирование карты пациента: {{фио пациента}} </h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
				</div>

				<div class="modal-footer">
					<button type="button" class="btn-item btn-modal btn btn-default" data-dismiss="modal">Закрыть</button>
					<button type="button" class="btn-item btn-modal btn btn-default">Сохранить изменения</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Секция модального окна создания карты пациента. -->
	<div class="modal fade" id="edit-card-modal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="editModalLabel">Создание новой карты пациента</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
					Тело<br />
				</div>

				<div class="modal-footer">
					<button type="button" class="btn-item btn-modal btn btn-default" data-dismiss="modal">Закрыть</button>
					<button type="button" class="btn-item btn-modal btn btn-default">Создать карту</button>
				</div>
			</div>
		</div>
	</div>

	<script src="~/js/Card.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>