@{
	Layout = "_Layout";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>@ViewData["Title"]</title>
	<link href="~/css/Header.css" rel="stylesheet" />
	<link href="~/css/Main.css" rel="stylesheet" />
	<link href="~/css/Footer.css" rel="stylesheet" />
</head>
<body>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://use.fontawesome.com/1c903a9a3d.js"></script>

	<div id="front_office" class="main-block-card">
		<div>
			<div class="col-lg-12">
				<div class="row block-main-info">
					<div class="btn-block-main col-lg-12">
						<!-- Левая секция кнопок -->
						<div class="btn-left-block">
							<div class="btns">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="@Url.Action("Index", "Route")">Главная</a></li>

										<li class="breadcrumb-item active" aria-current="page">Мой профиль</li>
									</ol>
								</nav>
							</div>
						</div>

						<!-- Правая секция кнопок -->
						<div class="btn-right-block">

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row mb-3">
			<div class="container block-registry">

			</div>
		</div>

		<!-- Секция личной информации. -->
		<div class="row">
			<div class="col-lg-12">
				<h3>Личная информация</h3>
			</div>
		</div>

		<div class="row" v-for="el in aEmployeeInfo">
			<div class="col-lg-6">
				<div class="form-group">
					<label class="form-control-sm"><strong>Логин:</strong> {{el.login}}</label>
				</div>

				<div class="form-group">
					<label class="form-control-sm"><strong>ФИО:</strong> {{el.fullName}}</label>
				</div>

				<div class="form-group">
					<label class="form-control-sm"><strong>Возраст:</strong> {{el.age}}</label>
				</div>

				<div class="form-group">
					<label class="form-control-sm"><strong>Дата рождения:</strong> {{el.dateBirth}}</label>
				</div>

				<div class="form-group">
					<label class="form-control-sm"><strong>Контактный номер:</strong> {{el.number == null ? 'нет' : el.number}}</label>
				</div>

				<div class="form-group">
					<label class="form-control-sm"><strong>Специализация:</strong> {{el.position}}</label>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="form-group">
					<label class="form-control-sm"><strong>Опыт работы:</strong> нет</label>
				</div>

				<div class="form-group">
					<label class="form-control-sm"><strong>Серия и № паспорта:</strong> {{el.pasportNumber == null ? 'нет' : el.pasportNumber}}</label>
				</div>

				<div class="form-group">
					<label class="form-control-sm"><strong>№ учреждения:</strong> {{el.numberSeatWork == 0 ? 'нет' : el.numberSeatWork}}</label>
				</div>

				<div class="form-group">
					<label class="form-control-sm"><strong>Адрес работы:</strong> {{el.address}}</label>
				</div>

				<div class="form-group">
					<label class="form-control-sm"><strong>Таб.Номер:</strong> {{el.tabNumber}}</label>
				</div>
			</div>
		</div>

		<!-- Секция таблицы с расписанием ближайших записей. -->
		<div class="row">
			<div class="col-lg-12">
				<h3>Расписание ближайших записей на прием</h3>
			</div>
		</div>

		<div class="tbl">
			<table id="id-request-list-table" class="table table-bordered">
				<thead>
					<tr>
						<th class="text-center" scope="col">
							<input type="checkbox">
						</th>

						<th class="text-center" scope="col">
							<button class="btn btn-link" value="card_number" v-on:click="">
								№ записи
							</button>
						</th>

						<th class="text-center" scope="col">
							<button class="btn btn-link">
								Дата приема
							</button>
						</th>

						<th class="text-center" scope="col">
							<button class="btn btn-link">
								№ карты пациента
							</button>
						</th>

						<th class="text-center" scope="col">
							<button class="btn btn-link">
								Врач
							</button>
						</th>

						@*<th class="text-center" scope="col"></th>
						<th class="text-center" scope="col"></th>*@
					</tr>
				</thead>

				<tbody>
					<tr class="tbl-item tbl-row-click" v-for="" v-on:dblclick="">
						<th class="text-center" scope="col">
							<input type="checkbox">
						</th>

						<td class="text-center req-id">
							<span>{{}}</span>
						</td>

						<td class="text-center">
							<span>{{}}</span>
						</td>

						<td class="text-center">
							<span>{{}}</span>
						</td>

						<td class="text-center">
							<span>{{}}</span>
						</td>

						<td class="text-center">
							<span>{{}}</span>
						</td>

						@*<td class="text-center state">
							<button type="button" id="id-icon-edit" class="btn btn-default btn-sm" value="edit_reception" v-on:click="">
								<i class="fa fa-pencil" aria-hidden="true"></i>
							</button>
						</td>

						<td class="text-center state">
							<button type="button" id="id-icon-delete" class="btn btn-default btn-sm" data-toggle="modal" data-target="#delete-reception-modal" v-on:click="">
								<i class="fa fa-trash-o" aria-hidden="true"></i>
							</button>
						</td>*@
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script src="~/js/Route.js"></script>
	<script src="~/js/FrontOffice.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>