@{
	Layout = "_Layout";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>@ViewData["Title"]</title>
	<link href="~/css/Header.css" rel="stylesheet" />
	<link href="~/css/Main.css" rel="stylesheet" />
	<link href="~/css/Footer.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://use.fontawesome.com/1c903a9a3d.js"></script>
</head>
<body>
	<div id="list_card">
		<!-- Секция таблицы со списком карт пациентов -->
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="text-center" scope="col">№ карты</th>
					<th class="text-center" scope="col">ФИО</th>
					<th class="text-center" scope="col">Дата рождения</th>
					<th class="text-center" scope="col">Адрес</th>
					<th class="text-center" scope="col">Телефон</th>
					<th class="text-center" scope="col">Полис</th>
					<th class="text-center" scope="col">СНИЛС</th>
					<th class="text-center" scope="col">Дата и время назначаемых<br /> процедур и записей</th>
					<th class="text-center" scope="col">Прописанные лекарства</th>
					<th class="text-center" scope="col">Диагноз</th>
					<th class="text-center" scope="col">Рецепты и рекомендации</th>
					<th class="text-center" scope="col">История болезни</th>
					<th class="text-center" scope="col">Лечащий врач</th>
					<th class="text-center" scope="col"></th>
					<th class="text-center" scope="col"></th>
				</tr>
			</thead>

			<tbody>
				<tr class="tbl-item" v-for="el in aCards">
					<td class="text-center card-id">
						<span>{{el.id}}</span>
					</td>

					<td class="text-center">
						<span>{{el.cardNumber}}</span>
					</td>

					<td class="text-center">
						<span>{{el.fullName}}</span>
					</td>

					<td class="text-center">
						<span>{{el.dateOfBirth}}</span>
					</td>

					<td class="text-center">
						<span class="departure">{{el.address}}</span>
					</td>

					<td class="text-center">
						<span class="arrival">{{el.number}}</span>
					</td>

					<td class="text-center">
						<span>{{el.policy}}</span>
					</td>

					<td class="text-center">
						<span>{{el.snails}}</span>
					</td>

					<td class="text-center">
						<span>{{el.timeProcRecommend}}</span>
					</td>

					<td class="text-center">
						<span>{{el.prescriptionDrugs}}</span>
					</td>

					<td class="text-center">
						<span>{{el.diagnosis}}</span>
					</td>

					<td class="text-center">
						<span>{{el.recipesRecommend}}</span>
					</td>

					<td class="text-center">
						<span>{{el.medicalHistory}}</span>
					</td>

					<td class="text-center">
						<span>{{el.doctor}}</span>
					</td>

					<td class="text-center state">
						<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#edit-card-modal" v-on:click="onEditCard">
							<i class="fa fa-pencil" aria-hidden="true"></i>
						</button>
					</td>

					<td class="text-center state">
						<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#delete-card-modal" v-on:click="onDeleteCard">
							<i class="fa fa-trash-o" aria-hidden="true"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>

		<!-- Секция модального окна редактирования карты пациента. -->
		<div class="modal fade" id="edit-card-modal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content" v-for="el in aSelectCard">
					<div class="modal-header">
						<h5 class="modal-title" id="editModalLabel">Редактирование карты пациента: {{el.fullName}} </h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div class="modal-body">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th class="text-center" scope="col">№ карты</th>
									<th class="text-center" scope="col">ФИО</th>
									<th class="text-center" scope="col">Дата рождения</th>
									<th class="text-center" scope="col">Адрес</th>
									<th class="text-center" scope="col">Телефон</th>
									<th class="text-center" scope="col">Полис</th>
									<th class="text-center" scope="col">СНИЛС</th>
									<th class="text-center" scope="col">Дата и время назначаемых<br /> процедур и записей</th>
									<th class="text-center" scope="col">Прописанные лекарства</th>
									<th class="text-center" scope="col">Диагноз</th>
									<th class="text-center" scope="col">Рецепты и рекомендации</th>
									<th class="text-center" scope="col">История болезни</th>
									<th class="text-center" scope="col">Лечащий врач</th>
								</tr>
							</thead>

							<tbody>
								<tr id="tbl-item-edit" class="tbl-item">
									<td class="text-center card-id">
										<textarea id="id" class="form-control">{{el.id}}</textarea>
									</td>

									<td class="text-center">
										<textarea id="id-card-number" class="form-control">{{el.cardNumber}}</textarea>
									</td>

									<td class="text-center">
										<textarea id="id-name" class="form-control">{{el.fullName}}</textarea>
									</td>

									<td class="text-center">
										<textarea id="id-date-of-birth" class="form-control">{{el.dateOfBirth}}</textarea>
									</td>

									<td class="text-center">
										<textarea id="id-address" class="form-control">{{el.address}}</textarea>
									</td>

									<td class="text-center">
										<textarea id="id-number" class="form-control">{{el.number}}</textarea>
									</td>

									<td class="text-center">
										<textarea id="id-policy" class="form-control">{{el.policy}}</textarea>
									</td>

									<td class="text-center">
										<textarea id="id-snails" class="form-control">{{el.snails}}</textarea>
									</td>

									<td class="text-center">
										<textarea id="id-time" class="form-control">{{el.timeProcRecommend}}</textarea>
									</td>

									<td class="text-center">
										<textarea id="id-pres" class="form-control">{{el.prescriptionDrugs}}</textarea>
									</td>

									<td class="text-center">
										<textarea id="id-diagnosis" class="form-control">{{el.diagnosis}}</textarea>
									</td>

									<td class="text-center">
										<textarea id="id-recip" class="form-control">{{el.recipesRecommend}}</textarea>
									</td>

									<td class="text-center">
										<textarea id="id-history" class="form-control">{{el.medicalHistory}}</textarea>
									</td>

									<td class="text-center">
										<textarea id="id-doc" class="form-control">{{el.doctor}}</textarea>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn-item btn-modal btn btn-default" data-dismiss="modal">Закрыть</button>
						<button type="button" class="btn-item btn-modal btn btn-default" v-on:click="onSaveEditChange">Сохранить изменения</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Секция модального окна создания карты пациента. -->
		<div class="modal fade" id="edit-card-modal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="editModalLabel">Создание новой карты пациента</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div class="modal-body">

					</div>

					<div class="modal-footer">
						<button type="button" class="btn-item btn-modal btn btn-default" data-dismiss="modal">Закрыть</button>
						<button type="button" class="btn-item btn-modal btn btn-default">Создать карту</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Секция модального окна подтверждения удаления карты пациента. -->
		<div class="modal fade" id="delete-card-modal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
			<div id="modal-delete" class="modal-dialog" role="document">
				<div class="modal-content" v-for="el in aSelectCard">
					<div class="modal-header">
						<h5 class="modal-title" id="deleteModalLabel">Удаление карты пациента № {{el.cardNumber}}</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div class="modal-body">
						<span>Вы действительно хотите удалить карту: № {{el.cardNumber}} пациента {{el.fullName}}?</span>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn-item btn-modal btn btn-default" data-dismiss="modal">Закрыть</button>
						<button type="button" class="btn-item btn-modal btn btn-default">Удалить карту</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script src="~/js/Card.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>