@{
	Layout = "_Layout";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>@ViewData["Title"]</title>
	<link href="~/css/Header.css" rel="stylesheet" />
	<link href="~/css/Main.css" rel="stylesheet" />
	<link href="~/css/Footer.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://use.fontawesome.com/1c903a9a3d.js"></script>
</head>
<body>
	<div id="list_card">
		<!-- Секция таблицы со списком карт пациентов -->
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="text-center" scope="col">Поезд</th>
					<th class="text-center" scope="col">Маршрут</th>
					<th class="text-center" scope="col">Отправление</th>
					<th class="text-center" scope="col">Прибытие</th>
					<th class="text-center" scope="col">В пути</th>
					<th class="text-center" scope="col">Заказ билетов</th>
				</tr>
			</thead>

			<tbody>
				<tr class="tbl-item" v-for="el in aCards">
					<td class="text-center">
						<span>{{el.thread.number}}</span>
					</td>

					<td class="text-center">
						<span>{{sFrom}}</span>
					</td>

					<td class="text-center">
						<span class="departure">{{el.departure}}</span>
					</td>

					<td class="text-center">
						<span class="arrival">{{el.arrival}}</span>
					</td>

					<td class="arrival text-center">
						<span>{{el.difference}}</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<script src="~/js/Card.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>