@{
	Layout = "_Layout";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>@ViewData["Title"]</title>
	<link href="~/css/Header.css" rel="stylesheet" />
	<link href="~/css/Main.css" rel="stylesheet" />
	<link href="~/css/Footer.css" rel="stylesheet" />
</head>
<body>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://use.fontawesome.com/1c903a9a3d.js"></script>

	<div id="list_card" class="main-block-card">
		<!-- Главная секция кнопок -->
		<div class="btn-block-main mb-3">
			<!-- Левая секция кнопок -->
			<div class="btn-left-block">
				<div class="btns">

				</div>
			</div>

			<!-- Правая секция кнопок -->
			<div class="btn-right-block">
				
			</div>
		</div>

		<!-- Секция создания новой карты пациента. -->
		<!-- Секция табов.-->
		<div class="mr-2">
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link active" data-toggle="tab" href="#main-info">Общие сведения</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#contacts">Контакты</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#payments">Лечение и оплата</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#medical-card">Медицинская карта</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#documents">Документы</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#contract">Договор</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#scrins">Снимки</a>
				</li>
			</ul>

			<!-- Тело табов. -->
			<div class="tab-content">
				<div class="tab-pane fade show active" id="main-info">
					<div class="col-lg-12">
						<div class="row block-main-info">
							<div class="btn-block-main mb-3 col-lg-12">
								<!-- Левая секция кнопок -->
								<div class="btn-left-block">
									<div class="btns">

									</div>
								</div>

								<!-- Правая секция кнопок -->
								<div class="btn-right-block">
									<button type="button" id="id-create-card" class="btn-item btn btn-default btn-create-card form-control-modal" value="create_card" v-on:click="onCreateCard">Сохранить</button>

									<button type="button" id="id-create-card" class="btn-item btn btn-default btn-create-card form-control-modal" v-on:click="">Отмена</button>
								</div>
							</div>

							<div class="mt-3 column-1">
								<div class="row-1">
									<label for="#id-family">ФИО</label>
									<input id="id-family" type="text" class="form-control-sm form-card mb-3" />

									<label for="#id-address">Адрес</label>
									<input id="id-address" type="text" class="form-control-sm form-card mb-3" />

									<label for="#id-category">Категория</label>
									<select id="id-category" class="form-control-sm form-card mb-3">
										<option>Обычный</option>
									</select>

									<label for="#id-word">Место работы</label>
									<input id="id-word" type="text" class="form-control-sm form-card mb-3" />

									<label for="#id-position">Должность</label>
									<input id="id-position" type="text" class="form-control-sm form-card mb-3" />

									<label for="#id-tab">Таб.№</label>
									<input id="id-tab" type="text" class="form-control-sm form-card mb-3" />

									<label for="#id-insurance-company">Страховая компания</label>
									<select id="id-insurance-company" class="form-control-sm form-card mb-3">
										<option>ООО "Хлебный порошок"</option>
									</select>

									<label for="#id-policy">Полис</label>
									<input id="id-policy" type="text" class="form-control-sm form-card mb-3" />

									<label for="#id-do">Обслуж.до</label>
									<input id="id-do" type="date" class="form-control-sm form-card mb-3" />

									<!-- Табличка для документов. -->
									<table class="table table-bordered">
										<thead>
											<tr>
												<th class="text-center" scope="col">
													<button class="btn btn-link" value="" v-on:click="">
														Документ
													</button>
												</th>

												<th class="text-center" scope="col">
													<button class="btn btn-link">
														Серия и номер
													</button>
												</th>

												<th class="text-center" scope="col">
													<button class="btn btn-link">
														Кем выдан
													</button>
												</th>
											</tr>
										</thead>

										<tbody>
											<tr class="tbl-item tbl-row-click">
												<td class="text-center">
													<span>документ</span>
												</td>

												<td class="text-center">
													<span>серия и номер тест</span>
												</td>

												<td class="text-center">
													<span>выдан тестом</span>
												</td>
											</tr>
										</tbody>
									</table>

									<input id="id-photo" type="file" class="form-control-sm form-card mb-3" />
									<!-- Сюда будет вставляться фото пациента. -->

									<label for="#id-comment">Комментарии</label>
									<textarea id="id-comment" rows="10"></textarea>
								</div>
							</div>

							<div class="mt-3 column-2">
								<div class="row-2">
									<label for="#id-date-year">Дата рождения</label>
									<input id="id-date-year" type="date" class="form-control-sm form-card mb-3" />

									<label for="#id-year">Год рождения</label>
									<input id="id-year" type="text" class="form-control-sm form-card mb-3" />

									<label for="#id-number">Телефон</label>
									<input id="id-number" type="text" class="form-control-sm form-card mb-3" />

									<label for="#id-email">Email</label>
									<input id="id-email" type="email" class="form-control-sm form-card mb-3" />

									<label for="#id-indicator">Сигнальная информация</label>
									<textarea id="id-indicator" rows="10"></textarea>

									<label for="#id-blood-group">Группа крови</label>
									<select id="id-blood-group" class="form-control-sm form-card mb-3">
										<option>IV</option>
									</select>

									<label for="#id-vich">ВИЧ</label>
									<select id="id-vich" class="form-control-sm form-card mb-3">
										<option>-</option>
									</select>

									<label for="#id-hb">HB</label>
									<select id="id-hb" class="form-control-sm form-card mb-3">
										<option>-</option>
									</select>

									<label for="#id-rw">RW</label>
									<select id="id-rw" class="form-control-sm form-card mb-3">
										<option>-</option>
									</select>
								</div>
							</div>

							<div class="mt-3 column-3">
								<div class="row-3">
									<label for="#id-index">Индекс</label>
									<input id="id-index" type="text" class="form-control-sm form-card mb-3" />

									<label for="#id-city">Город</label>
									<input id="id-city" type="text" class="form-control-sm form-card mb-3" />

									<label for="#id-address-dop">Адрес</label>
									<input id="id-address-dop" type="text" class="form-control-sm form-card mb-3" />

									<label for="#id-dop">Дополн.</label>
									<input id="id-dop" type="text" class="form-control-sm form-card mb-3" />

									<label for="#id-district">Район</label>
									<input id="id-district" type="text" class="form-control-sm form-card mb-3" />

									<label for="#id-region">Область</label>
									<input id="id-region" type="text" class="form-control-sm form-card mb-3" />

									<label for="#id-form-pay">Форма оплаты</label>
									<input id="id-form-pay" type="text" class="form-control-sm  form-card mb-3" />

									<label for="#id-plan">Тариф</label>
									<input id="id-plan" type="text" class="form-control-sm form-card mb-3" />

									<label for="#id-registry">Зарегистрирован</label>
									<input id="id-registry" type="date" class="form-control-sm form-card mb-3" />

									<label for="#id-change">Изменен</label>
									<input id="id-change" type="text" class="form-control-sm form-card mb-3" />

									<label for="#id-operator">Оператор</label>
									<input id="id-operator" type="text" class="form-control-sm form-card mb-3" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="contacts">
					Контакты
				</div>

				<div class="tab-pane fade" id="payments">
					Лечение и оплата
				</div>

				<div class="tab-pane fade" id="medical-card">
					Медицинская карта
				</div>

				<div class="tab-pane fade" id="documents">
					Документы
				</div>

				<div class="tab-pane fade" id="contract">
					Договор
				</div>

				<div class="tab-pane fade" id="scrins">
					Снимки
				</div>
			</div>
		</div>
	</div>


	<script src="~/js/Card.js"></script>
	<script src="~/js/Route.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>