$blueText: #208EF3; // Делает текст темно-голубым.

* {
    margin: 0;
    padding: 0;
}

header {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

body {
    background: #66BFE0;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    color: #208EF3;
    font-weight: 900;
    align-items: center;
}

.beta {
    color: #66BFE0;
    transform: rotate(25.25deg);

    &:hover {
        cursor: pointer;
    }
}

.nav-title {
    display: flex;
    //color: #208EF3;
    border-radius: 10px;
    color: #66BFE0;
    font-weight: 900;
    font-size: 18px;
    margin-right: 150px;
}

.log_check {
    display: flex;
}

.modal-header {
    color: $blueText;
}

.modal-body {
    color: $blueText;
}

.block-beta {
    display: flex;
    align-items: center;
}