$whiteText: azure; // Делает текст белым.
$widthModal: max-content !important;

body {
    color: white;
}

.container {
    max-width: 100%;
    overflow: auto;
}

.btn-item {
    background: white;
    border-radius: 10px;
    color: #66BFE0;
    font-weight: 900;
    font-size: 13px;
    margin-top: 5px;
    width: 100%;

    &:hover {
        background: black !important;
        transition: all 0.21s ease;
        color: white;
    }
}

.btn-block-main {
    display: flex;
    justify-content: space-between;

    .btn-left-block {
        //width: 300px;
        .btns {
            //display: flex;
        }

        .left-btn {
            margin-right: 5px;
        }
    }

    .block-content {
        margin-left: 2%;
        margin-right: 2%;
    }
}

.advantages {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    font-size: 15px;
}

table {
    border: 2px solid azure !important;
    color: azure !important;

    td {
        border: 2px solid azure !important;
    }

    tr {
        border: 2px solid azure !important;
    }

    th {
        border: 2px solid azure !important;
        font-weight: 900 !important;
    }

    .state {
        vertical-align: middle;
    }
}

.table thead th {
    vertical-align: middle;
    border-bottom: 2px solid #dee2e6;
}

.tbl-item {
    .card-id {
        display: none;
    }

    &:hover {
        box-shadow: 0 0 10px #000000 !important;
    }
}

#tbl-item-edit {
    &:hover {
        box-shadow: none !important;
    }
}


.modal-dialog {
    max-width: 100%;

    .btn-modal {
        width: auto;
    }

    .modal-content {
        background: #66BFE0;
    }

    .modal-header {
        color: $whiteText;
    }

    .modal-body {
        color: $whiteText;
    }
}

.modal {
    padding-right: 0px !important;
}

#modal-delete {
    width: $widthModal;
}

#signin-modal {
    width: $widthModal;
}

#checkin-modall {
    width: $widthModal;
}

.btn-right-block {
    padding-bottom: 5px;
}
