$whiteText: azure; // Делает текст белым.
$widthModal: max-content !important;
$widthBtnsCard: auto !important;
$noneId: none;

body {
    color: white;
}

.container {
    max-width: 100%;
}

.btn-item {
    background: white;
    border-radius: 10px;
    color: #66BFE0;
    font-weight: 900;
    font-size: 13px;
    margin-top: 5px;
    width: 100%;

    &:hover {
        background: black !important;
        transition: all 0.21s ease;
        color: white;
    }
}

.btn-block-main {
    display: flex;
    justify-content: space-between;

    .btn-left-block {
        .left-btn {
            margin-right: 5px;
        }
    }

    .block-content {
        margin-left: 2%;
        margin-right: 2%;
    }

    .input-search {
        width: 200%;
    }

    .btn-create-card {
        width: $widthBtnsCard;
    }

    .export-excel {
        width: $widthBtnsCard;
    }

    .export-word {
        width: $widthBtnsCard;
    }

    .print {
        width: $widthBtnsCard;
    }

    .export-pdf {
        width: $widthBtnsCard;
    }
}

.advantages {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    font-size: 15px;
}

table {
    border: 2px solid azure !important;
    color: azure !important;

    td {
        border: 2px solid azure !important;
    }

    tr {
        border: 2px solid azure !important;
    }

    th {
        border: 2px solid azure !important;
        font-weight: 900 !important;
        vertical-align: middle !important;
    }

    .state {
        vertical-align: middle;
    }

    .btn-link {
        color: azure !important;
        font-weight: 900;
    }
}

#id-card-list-table {
    height: 100vh;
}

.table thead th {
    vertical-align: middle;
    border-bottom: 2px solid #dee2e6;
}

.tbl-item {
    .card-id {
        display: $noneId;
    }

    &:hover {
        box-shadow: 0 0 10px #000000 !important;
    }

    .user-id {
        display: $noneId;
    }
}

#tbl-item-edit {
    &:hover {
        box-shadow: none !important;
    }
}


.modal-dialog {
    max-width: 100%;

    .btn-modal {
        width: auto;
    }

    .modal-content {
        background: #66BFE0;
    }

    .modal-header {
        color: $whiteText;
    }

    .modal-body {
        color: $whiteText;
    }
}

.modal {
    padding-right: 0px !important;
}

#modal-delete {
    width: $widthModal;
}

#signin-modal {
    width: $widthModal;
}

#checkin-modall {
    width: $widthModal;
}

.btn-right-block {
    padding-bottom: 5px;
}

// Для прелоадера.
/////////////////////////
.mask {
    width: 100%;
    height: 100%;
    background: #66BFE0;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 75px;
    height: 75px;
    border: 10px solid rgba(253, 253, 253, 0.6);
    border-radius: 50%;
    border-left-color: var(--white);
    animation: loader 1.3s linear infinite;
}

@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}

.hide {
    opacity: 0;
}
////////////////////////////

.btn:focus {
    outline: 0;
    box-shadow: none!important;
}

// Перезапись ширины form-control
.form-control-modal {
    width: auto !important;
}
