$whiteText: azure; // Делает текст белым.
$widthModal: max-content !important;
$widthBtnsCard: auto !important;
$noneId: none;

@mixin Lbl {
    width: 300px;
    font-size: 12px;
}

@mixin shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@mixin flexDirCol {
    display: flex;
    flex-direction: column;
}

@mixin btnItemSmall {
    background: white;
    border-radius: 10px;
    border-color: #66BFE0;
    color: #66BFE0;
    font-size: 13px;
    margin-top: 5px;
    border-width: 2px;
}

// Убирает пробелы у заголовков типа col-lg-12, col-lg-6
@mixin NotSpace {
    padding-right: inherit;
    padding-left: inherit;
}

// Горизонтальный поиск пациента.
@mixin horizontalSearch {
    display: flex;
    align-items: center;
}

// Элементы горизонтального поиска пациента.
@mixin elemHorizontalSearch {
    display: flex;
    flex-direction: column;
}

// Кнопка создания записи.
@mixin btnAddReception {
    height: 50px;
    margin: 0 auto;
}

body {
    background: #FDFFFF;
    color: #676767;
    overflow-x: hidden;
}

.navbar {
    background-image: linear-gradient(to bottom, #66bfe0, #65c2e1, #65c5e1, #65c8e1, #65cbe1, #65cbe1, #65cbe1, #65cbe1, #65c8e1, #65c5e1, #65c2e1, #66bfe0);
}

.container {
    max-width: 100%;
}

.context {
    margin-left: 5%;
    margin-right: 5%;
}

.btn-item {
    background: white;
    border-radius: 10px;
    border-color: #66BFE0;
    color: #66BFE0;
    font-size: 13px;
    margin-top: 5px;
    width: 100%;
    border-width: 2px;

    &:hover {
        background-image: linear-gradient(to bottom, #66bfe0, #65c2e1, #65c5e1, #65c8e1, #65cbe1, #65cbe1, #65cbe1, #65cbe1, #65c8e1, #65c5e1, #65c2e1, #66bfe0);
        transition: all 0.21s ease;
        color: white;
    }
}

.btn-block-main {
    display: flex;
    justify-content: space-between;

    .btn-left-block {
        .left-btn {
            margin-right: 5px;
        }
    }

    .block-content {
        margin-left: 2%;
        margin-right: 2%;
    }

    .input-search {
        width: 200%;
    }

    .btn-create-card {
        width: $widthBtnsCard;
    }

    .btn-create-req {
        width: $widthBtnsCard;
    }

    .export-excel {
        width: $widthBtnsCard;
    }

    .export-word {
        width: $widthBtnsCard;
    }

    .print {
        width: $widthBtnsCard;
    }

    .export-pdf {
        width: $widthBtnsCard;
    }
}

.btn-item-small {
    @include btnItemSmall;

    &:hover {
        background-image: linear-gradient(to bottom, #66bfe0, #65c2e1, #65c5e1, #65c8e1, #65cbe1, #65cbe1, #65cbe1, #65cbe1, #65c8e1, #65c5e1, #65c2e1, #66bfe0);
        transition: all 0.21s ease;
        color: white;
    }
}

.advantages {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    font-size: 15px;
}

table {
    thead {
        th {
            background-color: #66BFE0 !important;

            .btn-link {
                color: white;
                font-weight: 600;
            }
        }
    }

    th {
        background: #FDFFFF;
        font-weight: 900 !important;
        vertical-align: middle !important;
    }

    tr {
        &:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
    }

    .state {
        vertical-align: middle;
    }
}

#id-card-list-table {
    height: 100vh;
}

.table thead th {
    vertical-align: middle;
    border-bottom: 2px solid #dee2e6;
}

// Для высоты таблиц.
.tbl {
    //height: 100vh;
    height: 450px;
    overflow-y: scroll;
}

.tbl-item {
    .card-id {
        display: $noneId;
    }

    .user-id {
        display: $noneId;
    }

    :hover {
        cursor: pointer;
    }
}

#tbl-item-edit {
    &:hover {
        box-shadow: none !important;
    }
}


.modal-dialog {
    max-width: 100%;

    .btn-modal {
        width: auto;
    }

    .modal-content {
        background: #66BFE0;
    }

    .modal-header {
        color: $whiteText;
    }

    .modal-body {
        color: $whiteText;
    }
}

.modal {
    padding-right: 0px !important;
}

#modal-delete {
    width: $widthModal;
}

#signin-modal {
    width: $widthModal;
}

#checkin-modall {
    width: $widthModal;
}

#id-feedback-modall {
    width: $widthModal;
}

.btn-right-block {
    padding-bottom: 5px;
}

// Для прелоадера.
/////////////////////////
.mask {
    width: 100%;
    height: 100%;
    //background: #66BFE0;
    background-image: linear-gradient(to bottom, #66bfe0, #65c2e1, #65c5e1, #65c8e1, #65cbe1, #65cbe1, #65cbe1, #65cbe1, #65c8e1, #65c5e1, #65c2e1, #66bfe0);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 75px;
    height: 75px;
    border: 10px solid rgba(253, 253, 253, 0.6);
    border-radius: 50%;
    border-left-color: var(--white);
    animation: loader 1.3s linear infinite;
}

@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}

.hide {
    opacity: 0;
}
////////////////////////////

.btn:focus {
    outline: 0;
    box-shadow: none !important;
}

// Перезапись ширины form-control
.form-control-modal {
    width: auto !important;
}

table {
    thead th {
        position: sticky;
        top: 0;
        background-color: #52bce3;
    }
}

.req-id {
    display: $noneId;
}

.block-tables {
    display: flex;
    justify-content: space-between;
}

.tbl-row-click {
    cursor: pointer;
}

.input-search {
    width: 300px;
}

.block-main-info {
    display: flex;
    justify-content: space-around;

    .row-1 {
        @include flexDirCol;
    }

    .row-2 {
        @include flexDirCol;
        width: 300px;
    }

    .row-3 {
        @include flexDirCol;
    }
}

.checkbox-date {
    font-size: 10px;
    display: flex;
    align-items: center;
}

.breadcrumb {
    background-color: white!important;
    //background-image: linear-gradient(to bottom, #66bfe0, #65c2e1, #65c5e1, #65c8e1, #65cbe1, #65cbe1, #65cbe1, #65cbe1, #65c8e1, #65c5e1, #65c2e1, #66bfe0);   
}

.list-group {
    height: 400px;
    overflow-x: auto;

    .list-group-item {
        display: flex;
        justify-content: space-between;

        span {
            cursor: pointer;
        }

        .close {
            &:hover {
                cursor: pointer;
            }
        }
    }
}

// Создание записи на прием.
.block-registry {
    display: flex;
    align-items: center;
    //justify-content: center;

    .item-set-registry {
        display: flex;
        flex-direction: column;

        .control-set {
            width: 300px;
            height: 50px;
        }

        .control-set-date {
            width: 200px;
            height: 50px;
        }
    }

    .btn-add-registry {
        height: 50px;
        margin: 0 auto;
    }
}

.create-list {
    display: flex;
    flex-direction: column;
}

.block-add-list {
    margin: 0 auto;
}

.menu_link_man {
    list-style-type: none;
}

ul li {
    list-style-type: none;

    /*&:hover {
        cursor: pointer;
        color: cornflowerblue;
    }*/
}

// Выпадающее меню.
.drop-down {
    position: relative;

    &:hover .drop-menu {
        visibility: visible;
        background-color: white;
        box-shadow: 0px 0px 5px 0px #C1C1C1;
        cursor: pointer;
        color: cornflowerblue;

        span {
            color: #676767;
        }
    }

    .drop-menu {
        position: absolute;
        background-color: transparent;
        padding: 0 10px;
        border-radius: 8px;
        visibility: hidden;
        transition: .3s;
        right: 2px;

        span {
            color: transparent;

            &:hover {
                cursor: pointer;
                color: cornflowerblue;
            }
        }
    }
}

// В том числе для логина выпадающего меню.
hr {
    margin-top: 0rem;
    margin-bottom: 0rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.block-create-schedule {
    .patient-search {
        display: flex;
        align-items: center;
    }

    .btn-input {
        background: white;
        border-radius: 10px;
        border-color: #66BFE0;
        color: #66BFE0;
        font-size: 13px;
        width: auto;
        border-width: 2px;

        &:hover {
            background-image: linear-gradient(to bottom, #66bfe0, #65c2e1, #65c5e1, #65c8e1, #65cbe1, #65cbe1, #65cbe1, #65cbe1, #65c8e1, #65c5e1, #65c2e1, #66bfe0);
            transition: all 0.21s ease;
            color: white;
        }
    }
}

// Создание записи на прием в ЛК.
.block-reception {
    @include horizontalSearch;

    .item-set-reception {
        @include elemHorizontalSearch;
    }

    .btn-add-reception {
        @include btnAddReception;
    }

    .input-heigth {
        width: 300px;
        height: 50px;
    }
}

.block-receptions-lists {
    display: flex;
    justify-content: space-between;
}